.about-banner{
    padding-top: 150px;
    margin-bottom: 50px;


    .about-card-1{
        margin-top: -80px;
    }

    .btn-about{
        background: transparent;
        border: 1px solid $primary;
        color: $primary;
        font-weight: bold;
        font-size: 17px;
        padding: 12px 25px;
        border-radius: 50px;
        transition: 0.5s;

            &:hover{
                color: white;
                background-color: $primary;
            }
    }
}

.about-team{
    padding: 80px 0;

    .team-card{
        transition: 0.5s;

        &:hover{
            transform: scale(1.02);
        }
    }

    .team-icon a{
        width: 40px;
        height: 40px;
        background-color: $semi-dark;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #555;
        border-radius: 50%;
    }

    .team-icon i{
        font-size: 20px;
    }
}


/* ----------- iPad ----------- */
/* Portrait and Landscape */
@media only screen and (max-width: 770px){
    .about-banner{
        margin-bottom: 0px;
    }
}

/* ----------- Mobile ----------- */
@media only screen and (max-width: 425px){
    .about-card-1{
        margin-top: -50px !important;
    }
}
