/* ============ global utili ============ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

$primary: #0d6efd;
$semi-dark: #edf3ff;
$primary-font:'Montserrat', sans-serif;

*{
    font-family: $primary-font;
}

@import './navbar';
@import './hero';
